html, body {
    margin: 0;
    padding: 0;
    color: white;
}

/* rgb(0, 36, 85) */
:root {
    --color-bg1: #000000;
    --color-bg2: #0F2854;

    --color1: 5, 14, 60;
    --color2: 0,0,0;
    --color3: 100, 220, 255; /*izquieda aqua*/
    --color4: 0, 36, 85; 
    --color5: 191, 201, 209;

    --color-interactive: 140, 100, 255;

    --circle-size: 80%;
    --blending: hard-light;
}

.gradient-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: -1;
    overflow: hidden;
    top: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
}


svg {
    display: none;
}

.gradients-container {
    width: 100%;
    height: 100%;
}

.g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1),0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    opacity: 1;
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
}

.g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2),0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    opacity: 1;
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
}

.g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3),0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    opacity: 1;
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);
}

.g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4),0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
    opacity: 0.7;
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
}

.g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5),0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    opacity: 1;
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));
}